repos:
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fumpt-repo
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]
