[Unit]
Description=Skip YouTube ads and sponsorships on all local Google Cast devices
Documentation=https://github.com/gabe565/CastSponsorSkip
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/castsponsorskip
TimeoutStopSec=20s
User=daemon
Group=daemon

[Install]
WantedBy=multi-user.target
